<body>
    <main>
        
        <div class="title">
            <h1>Lista de produtos</h1>
        </div>

        <!-- home-adm.component.html -->
        <div class="container">
            <app-adm-product-card *ngFor="let produto of produtos"
            [price]="produto.preco"
            [title]="produto.tituloProduto"
            [description]="produto.dscProduto"
            [marca]="produto.marca"
            [nota]="produto.avgNota"
            [origem]="produto.origem"
            [imgProduto]="produto.imgProduto"
            [qtdProduto]="produto.qtdProduto"
            />
        </div>
  

        <app-custom-button [buttonText]="'Adicionar novo'" (click)="redirecionarCriarProduto()" class="button"/>


    </main> 
</body>